<!-- start of body-category-summart.html -->

<div id="categories">

  <p>
  {% for cath in site.categories %}
    {% assign cate_name = cath | first %}
    <div style="float: left; border: 1px solid #000; margin: 5px">
      <a style="background-color: #ffffff; color: #000; border-radius: 0px; border: 3px; padding: 5px 5px; font-size: 12px; font-weight: bold; text-decoration: none;" href="#{{ cate_name }}">{{ cate_name }} {{ site.categories[cate_name] | size }}</a>
    </div>
    {% endfor %}
    <div style="clear:both"></div>
  </p>
</div>

<!-- end of body-category-summary.html -->
