<!-- start of body nav (_includes/body-nav.html) -->

    <nav id="#left_bar"">
      {% if site.image %}
        <a href="/about"><img style="margin: 0px; padding: 0px; border-radius: 10px;" src="{{ site.image }}" width=95%></a><br>
      {% endif %}
      
      {% if site.name %}
        <div style="float: left;"><h6>{{ site.name }}</h6></div>
      {% endif %}

      {% if site.favicon %}
        <div><img src="{{ site.favicon }}" valign="middle"></div>
      {% endif %}
      
      <a href="/about">├─ 사이트 및 저자 소개</a><br>
      <a href="/link">├─ 유용한 링크</a><br>
      <a href="/002_github_blog">├─ GitHub Pages</a><br>
    </nav>

<!-- end of body nav (_includes/body-nav.html) -->
