<!-- start of body-category.html -->

{% capture site_caths %}{% for cath in site.categories %}{{ cath | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_cates: {{ site_cates }} -->
{% assign cath_words = site_caths | split:',' | sort %}
<!-- cath_words: {{ cath_words }} -->

<div id="categories">
  <p>
  {% for cath in cath_words %}
  <a style="background-color: #0040ff; color: #fff; border-radius: 10px; padding: 3px 5px; font-size: 12px; font-weight: bold; text-decoration: none;" href="#{{ cath }}">{{ cath }} {{ site.categories[cath] | size }}</a>
  {% endfor %}
  </p>

  {% for item in (0..site.categories.size) %}
    {% unless forloop.last %}
      {% capture this_word %}{{ cath_words[item] | strip_newlines }}{% endcapture %}
      <h2 id="{{ this_word }}">{{ this_word }}</h2>
      {% for post in site.categories[this_word] %}
        <a href="{{ post.url }}"><img style="border-radius: 20px;" src="{{ site.image.path }}" width=100%></a>
        {% if post.image.path %}
          {% assign image_url = {{ post.image.path }} %}
        {% elsif post.image %}
          {% assign image_url = {{ post.image }} %}
        {% else %}
          {% assign image_url = {{ site.image.path }} %}
        {% endif %}
        <img style="border-radius: 20px;" src="{{ image_url }}" width=100%>
        <div style="height: 300; border-radius: 3px;">
          <div style="width: 20%; float: left; margin: 2px; height: 100%">
          </div>
      
          <div style="float: right; margin: 10px 0 10px 0; width: 75%; height: 100%; overflow: hidden">
            <h3 style="overflow: hidden">{{ post.title }}</h3>
            <pre style="overflow: hidden">{{ post.description }}</pre>
            ({{ post.date | date: "%Y-%m-%d" }} 작성)<br>
            <a href="{{ post.url }}">더보기</a>
          </div>
      
          <div style="clear: both; width: 0">
          </div>
        </div>
      {% endfor %}      
    {% endunless %}
  {% endfor %}

  <h2 id="미분류">미분류</h2>
  {% for post in site.posts %}
    {% unless post.category %}
    {% if post.image.path %}
      {% assign image_url = {{ post.image.path }} %}
    {% elsif post.image %}
      {% assign image_url = {{ post.image }} %}
    {% else %}
      {% assign image_url = {{ site.image.path }} %}
    {% endif %}
    <a href="{{ post.url }}">
      <div style="height: 300; border-radius: 3px;">
        <div style="width: 20%; float: left; margin: 2px; height: 100%">
          <img style="border-radius: 20px;" src="{{ image_url }}" width=100%>
        </div>
      
        <div style="float: right; margin: 10px 0 10px 0; width: 75%; height: 100%; overflow: hidden">
          <h3 style="overflow: hidden">{{ post.title }}</h3>
          <pre style="overflow: hidden">{{ post.description }}</pre>
          ({{ post.date | date: "%Y-%m-%d" }} 작성)<br>
        </div>
      
        <div style="clear: both; width: 0">
        </div>
      </div>
    </a>
  {% endfor %}
</div>

<!-- end of body-category.html -->
