<!-- start of body header (_includes/body-icons.html) -->

        <aside class="aside_inner">
          <div class="category_btn"><a class="link" href="/" title="홈으로">🏠 홈으로</a></div>
          <div class="category_btn"><a class="link" href="mailto:boyinblue@hanmail.net" title="이메일">📧 이메일</a></div>
          <div class="category_btn"><a class="link" href="/category" title="모든 카테고리 보기">📑 모든 카테고리</a></div>
          <div class="category_btn"><a class="link" href="{{ site.github.repository_url }}/blob/main/{{ page.path }}" title="글보기">🔍 GitHub에서 보기</a></div>
          <div class="category_btn"><a class="link" href="{{ site.github.repository_url }}/edit/main/{{ page.path }}" title="수정">✏️ 수정 </a></div>
          <div class="category_btn"><a class="link" href="#page_info" onclick='show_page_info()' title="페이지 정보">ℹ️ 페이지 정보</a></div>
          <div class="category_btn"><a class="link" href="#disqus_winow" onclick='show_comment()' title="토론하기">👄 댓글 열기</a></div>
          <div style="clear: both;"></div>
        </aside>

<!-- end of body header (_includes/body-icons.html) -->
