<!-- start of body-posts.html -->

  <aside class="aside_inner">
  <small style="background-color: #f4d03f; color: #000000; border-radius: 3px; padding: 3px 5px; font-size: 16px; font-weight: bold; text-decoration: none;"> 블로그 글 더보기</small><br>
  {% for post in site.posts limit:5 %}
    {% if post.title == page.title %}{% continue %}{% endif %}
    {% assign preview_image_url = post.image %}
    {% assign preview_url = post.url %}
    {% assign preview_title = post.title %}
    {% assign preview_description = post.description %}
    {% assign preview_date = post.date %}
    {% include body-preview.html %}
    <hr>
  {% endfor %}
  </aside>

<!-- end of body-posts.html -->
