<!-- start of body-gallery.html -->

  <div style="height: 300; border-radius: 3px;">
    <a href="{{ gallery_link_url }}">
      <figure>
        {% if gallery_width < 100 %}
          <img src="{{ gallery_image_url }}" style="float: left; border-radius: 10px; margin: 2px;">
        {% else %}
          <img src="{{ gallery_image_url }}" style="float: left; width: 20%; height: 100%; border-radius: 10px; margin: 2px;">
        {% endif %}
      </figure>
    </a>
    <div style="float: right; margin: 0; width: 75%; height: 100%;">
      Path : {{ gallery_path }}<br />
      {% if gallery_width %}W : {{ gallery_width }}<br /> {% endif %}
      {% if gallery_height %}H : {{ gallery_height }} {% endif %}
    </div>
    <div style="clear: both; width: 0">
    </div>
  </div>

<!-- end of body-gallery.html -->
