<!-- start of body nav (_includes/body-nav.html) -->

    <nav id="left_bar">
      <div class="menu_btn"><a href="/about">🧒🏻 ABOUT </a></div>
      <div class="menu_btn"><a href="/category">📑 CATEGORY</a></div>
      <div class="menu_btn"><a href="/tags">#️⃣ TAGS</a></div>
      <div class="menu_btn"><a href="/posts.html">🎫 POSTS</a></div>
      <div class="menu_btn"><a href="/raw.html">🔍 TEXT</a></div>
      <div class="menu_btn"><a href="/assets/images/">🖼️ IMAGES</a></div>
      <div class="menu_btn"><a href="/link">🌐 LINK</a></div>
      <div class="menu_btn"><a href="mailto:boyinblue@hanmail.net">📧 E-MAIL</a></div>
      <hr style="border: 3px #000000;">
      <div class="menu_btn"><a href="/014_git">GIT</a></div>
      <div class="menu_btn"><a href="/001_github_api">GITHUB API</a></div>
      <div class="menu_btn"><a href="/002_github_blog">GITHUB PAGES</a></div>
      <div class="menu_btn"><a href="/010_raspberry">RASPBERRY PI</a></div>
      <div class="menu_btn"><a href="/008_ubuntu">UBUNTU</a></div>
      <div class="menu_btn"><a href="/005_bash">BASH</a></div>
      <div class="menu_btn"><a href="/022_firefox">FIREFOX</a></div>
      <div class="menu_btn"><a href="/004_python">PYTHON</a></div>
      <div class="menu_btn"><a href="/006_java">JAVA</a></div>
      <hr style="border: 3px #000000;">
      <div class="menu_btn"><a href="/900_english">ENGLISH</a></div>
      <div class="menu_btn"><a href="/901_diary">DIARY</a></div>
      <div class="menu_btn"><a href="/_pages/writing">WRITING</a></div>
      <div class="menu_btn"><a href="/_pages/memo">MEMO</a></div>
    </nav>

<!-- end of body nav (_includes/body-nav.html) -->
