<!-- start of body nav (_includes/body-nav.html) -->

    <nav id="left_bar">
      {% if site.image %}
        <div stype="float: left;">
          <a href="/about"><img style="margin: 0px; padding: 0px; border-radius: 10px; width: 200px;" src="{{ site.image }}"></a><br />
        </div>
      {% endif %}
      
      {% if site.name %}
        <div style="float: left;"><h6>{{ site.name }}</h6></div>
      {% endif %}

      <div class="common_btn"><a class="link" href="/about">사이트 및 저자 소개</a></div>
      <div class="common_btn"><a class="link" href="/category">전체 카테고리 보기</a></div>
      <div class="common_btn"><a class="link" href="/tags">전체 테그 보기</a></div>
      <div class="common_btn"><a class="link" href="/raw.html">모든 페이지 보기</a></div>
      <div class="common_btn"><a class="link" href="/link">유용한 링크</a></div>
      <div stype="clear: both;"></div>
      <hr style="border: 3px #000000;">
      {% include body-category-summary.html %}
    </nav>

<!-- end of body nav (_includes/body-nav.html) -->
