<!-- start of body header (_includes/body-header.html) -->

    <div id="header_wrap" class="outer">
        <header class="inner">
          <a href="/">
            {% if site.favicon %}<div style="float: left;" ><img valign="middle" src="{{ site.favicon }}" style="margin: 0; padding: 0"></div>{% endif %}
            <div><small id="project_title">{{ site.title | default: site.github.repository_name }}</small></div></a>
        </header>
    </div>

<!-- end of body header (_includes/body-header.html) -->
