<!-- start of body header (_includes/body-header.html) -->

    <div id="header_wrap" class="outer">
        <header class="inner">
          <div style="display: inline;"><a href="#" onclick="toggle_menu()"><img src="/assets/icon/menu-outline.svg" style="background: #ffffff; border: 0px; margin: 0px; padding: 0px; width: 20px; height: 20px;"></a></div>
          <div style="display: inline;"><a href="/"><small id="project_title">{{ site.title | default: site.github.repository_name }}</small></a></div>
          <div style="display: inline;"><a href="https://hits.sh/www.github.com/boyinblue/boyinblue.github.io/"><img alt="Hits" style="border: 0px; margin: 0px; padding: 0px;" src="https://hits.sh/www.github.com/boyinblue/boyinblue.github.io.svg?view=today-total"/></a></div>
        </header>
    </div>

<!-- end of body header (_includes/body-header.html) -->
