<!-- start of body header (_includes/body-discus.html) -->

    <aside id="disqus_window" class="aside_inner" style="display:none;">
    <small style="background-color: #f4d03f; color: #000000; border-radius: 3px; padding: 3px 5px; font-size: 16px; font-weight: bold; text-decoration: none;">댓글 및 토론</small><br />
    <div id="disqus_thread">
    </div>
    </aside>
    <script src="https://giscus.app/client.js"
    data-repo="boyinblue/boyinblue.github.io"
    data-repo-id="R_kgDOG9CT0w"
    data-category="General"
    data-category-id="DIC_kwDOG9CT084CSLjU"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="ko"
    crossorigin="anonymous"
    async>
    </script>

<!-- end of body header (_includes/body-giscus.html) -->
