@import "rouge-github";

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, nav, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, nav, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
  max-width: 640px;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #ccccff;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

section, nav, aside {
  border-radius: 10px;
  background: #ffffff;
  border: 3;
}

nav {
  padding: 10px 10px;
}

aside {
  margin-top: 50px;
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  padding: 5px 5px 5px 5px;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  margin-top: 0px;
  font-size: 32px;
  color: #ffffff;
  background: #000000;
}

h2 {
  font-size: 28px;
  background: url('../images/bg_hr.png') repeat-x bottom;
  padding-left: 10px;
  border-left: 10px solid #bbb;
}

h3 {
  font-size: 24px;
  padding-left: 15px;
}

h4 {
  font-size: 21px;
  padding-left: 20px;
}

h5 {
  font-size: 18px;
  padding-left: 25px;
}

h6 {
  font-size: 16px;
  padding-left: 30px;
}

p {
  margin: 15px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #0F79D0;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

footer {
  color: #F2F2F2;
}

footer a {
  text-decoration: underline;
}

em, cite {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  max-width: 640px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #000000;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  vertical-align: middle;
  text-align: center;
}

pre, code {
  color: #222;
  background-color: #ddd;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.875em;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  padding: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color:#FF1493;
  background: #eafaf9;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #000000;
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: #ffdfd3;
  border: 1px dashed #000000;
  font-weight: bold;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 2px;
  border: 1px solid #373737;
  overflow: hidden;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 5px;
  vertical-align: middle;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 10px;
  margin: 0px auto;
}

.aside_inner {
  position: relative;
  max-width: 640px;
  padding: 10px;
  margin: 10px auto;
}

.memo {
  // 마우스를 따라다니는 메모
  position: absolute;
  z-index: 9;
  display: none;
  max-width: 640px;
  top: 0; // 초기 위치값을 설정해줍니다.
  left: 0; // 초기 위치값을 설정해줍니다.
  padding: 10px;
  border-radius: 10px;
  border: 1px #000000;
  background-color: #9bf50b; //컬러설정
}

.emoji {
  width: 1em !important;
  height: 1em !important;
  vertical-align: text-bottom;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#header_wrap {
  position: fixed;
  overflow: auto;
  z-index: 5;
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(to top, #373737, #212121);
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#logo_title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  background: none;
  text-shadow: #888888 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 60px;
}

#menu_outline {
  display: block;
  position: fixed;
  background: #ffffff;
  top: 10px;
  right: 10px;
  z-index: 6;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

#left_bar {
  display: inline-block;
  position: fixed;
  overflow: auto;
  float: left;
  top: 60px;
  left:10px;
  width: 200px;
}

#right_bar {
  position: fixed;
  overflow: auto;
  float: right;
  top: 60px;
  right:10px;
  width: 200px;
}

#logo {
  width: 200px;
  margin: 0px;
  padding: 0px;
  border-radius: 3px;
}

.category_btn {
  float: left;
  border: 1px solid #000;
  margin: 5px;
  text-decoration-line: underline;
  text-decoration-color: #fffaa0;
  text-decoration-thickness: 1px;
}

.tag_btn {
  float: left;
  border: 1px solid #000;
  margin: 5px;
  text-decoration-line: underline;
  text-decoration-color: #fad626;
  text-decoration-thickness: 1px;
}

.common_btn {
  border-radius: 3px;
  float: left;
  border: 0px;
  margin: 5px;
  background: #dddd;
  text-decoration-line: underline;
  text-decoration-color: #dcfffb;
  text-decoration-thickness: 1px;
}

.menu_btn {
  box-sizing: border-box;
  display: inline-block;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  width: 200px;
  text-decoration-line: underline;
  text-decoration-color: #dcfffb;
  text-decoration-thickness: 1px;
}

.link {
  background-color: #ffffff;
  color: #000;
  border-radius: 0px;
  border: 3px;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#footer_wrap {
  background: #212121;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 992px) {
  img {
    max-width: 100%;
  }

  #main_content_wrap {
    position: static;
  }

  .menu_btn {
    width: 120px;
    margin: 0px 0px 5px 0px;
  }

  #left_bar {
    display: none;
    width: 100%;
    float: none;
    margin: 0px auto 10px auto;
    position: static;
    max-width: 640px;
    clear: both;
  }

  #logo {
    width: 20px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #left_bar {
    display: none;
    width: 100%;
    margin: 0px auto;
    position: static;
    min-width: 320px;
    max-width: 480px;
    clear: both;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
    font-size: 20px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    font-size: 11px;
  }

}

@media screen and (max-width: 320px) {
  body {
    font-size:14px;
  }

  #left_bar {
    position: static;
    width: 100%;
    clear: both;
    min-width: 240px;
    max-width: 320px;
    margin: 0px auto;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }

  #project_title {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 240px;
    max-width: 320px;
    font-size: 11px;
  }
}