<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
            <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
          {% endif %}

          <h3 id="project_title">{{ site.title | default: site.github.repository_name }}</h3>
          <small id="project_tagline">{{ site.description | default: site.github.project_tagline }}</small>
		  <a href="https://boyinblue.github.io">🏠</a>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <!-- content -->
        {{ content }}

        <!-- page tags -->
        {% for tag in page.tags limit:3 %}
          #️⃣{{ tag }}
        {% endfor %}

        <!-- site tags -->
        {% capture site_tags %}
          {% for tag in site.tags %}
            {{ tag | first }}
            {% unless forloop.last %}
              ,
            {% endunless %}
          {% endfor %}
        {% endcapture %}
        {% assign tag_words = site_tags | split:',' | sort %}
        <ul class="tag-box inline">
        {% for tag in tag_words %}
          <li><a href="#{{ tag | cgi_escape }}">{{ tag }} <span>{{ site.tags[tag] | size }}</span></a></li>
        {% endfor %}
        </ul>

        <!-- posts -->
        <ul>
          {% for post in site.posts limit:5 %}
            {% if post }
            <li>
              <a href="{{ post.url }}">[{{ post.date | date: "%Y-%m-%d" }}] {{ post.title }}</a>
            </li>
            {% endif }
          {% endfor %}
        </ul>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        Published with <a href="https://pages.github.com">GitHub Pages</a>
      </footer>
    </div>
  </body>
</html>
