<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    {% include head-custom.html %}
  </head>

  <body>
    <!-- Link Info -->
    <div id="link_info" class="memo"></div>

    <!-- HEADER -->
    {% include body-header.html %}

    <!-- NAV -->
    {% include body-nav.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section class="inner">

        <!-- title section -->
        {% include body-title-section.html %}

        <!-- content -->
        {{ content }}

        <!-- page tags -->
        <p>
        {% for tag in page.tags %}
        <div class="tag_btn">
          <a style="background-color: #ffffff; color: #000000; padding: 3px 5px; font-size: 12px; font-weight: bold; text-decoration: none;" href="/tags/#{{ tag | cgi_escape }}">#{{ tag }}</a>
        </div>
        {% endfor %}
        <div style="clear: both;"></div>
        </p>
      </section>

      <aside class="inner">
        <!-- page info -->
        {% include body-page-info.html %}

        <hr>

        <!-- icons -->
        {% include body-icons.html %}

        <hr>

        <!-- disqus -->
        {% include body-disqus.html %}

        <hr>

        <!-- category -->
        {% if page.category != "" %}
          {% assign category=page.category %}
          {% include body-category.html %}
          <hr>
        {% endif %}

        <!-- posts -->
        {% include body-posts.html %}

    </div>

    <!-- FOOTER  -->
    {% include body-footer.html %}

    <!-- Java Script Load -->
    <script async type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>
