<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    {% include body-header.html %}

    <!-- NAV -->
    {% include body-nav.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section class="inner">

        <!-- title section -->
        {% include body-title-section.html %}

        <!-- content -->
        {{ content }}

        <!-- page tags -->
        <p>
        {% for tag in page.tags %}
        <a style="background-color: #0040ff; color: #fff; border-radius: 10px; padding: 3px 5px; font-size: 12px; font-weight: bold; text-decoration: none;" href="/tags/#{{ tag | cgi_escape }}">{{ tag }}</a>
        {% endfor %}
        </p>
      </section>

      <aside class="inner">
        <!-- page info -->
        {% include body-page-info.html %}

        <hr>

        <!-- icons -->
        {% include body-icons.html %}

        <hr>

        <!-- disqus -->
        {% include body-disqus.html %}

        <hr>

        <!-- category -->
        <p date-ke-size="size10">
        {% if page.category %}
          <small style="background-color: #f4d03f; color: #000000; border-radius: 3px; padding: 3px 5px; font-size: 16px; font-weight: bold; text-decoration: none;"> 카테고리 글 더보기 ({{ page.category }})</small><br>
          {% assign cnt = 0 %}
          {% for post in site.posts %}
            {% if post.category == page.category %}
              <a href="{{ post.url }}">
              <h3>{{ post.title }}</h3>
              <div style="height: 300; border-radius: 3px;">
                <div style="width: 20%; float: left; margin: 2px; height: 100%">
                {% if post.image.path %}
                  <img style="border-radius: 20px;" src="{{ post.image.path }}" width=100%>
                {% elsif post.image %}
                  <img style="border-radius: 20px;" src="{{ post.image }}" width=100%>
                {% else %}
                  <img style="border-radius: 20px;" src="{{ site.image.path }}" width=100%>
                {% endif %}
                </div>
            
                <div style="float: right; margin: 10px 0 10px 0; width: 75%; height: 100%">
                  {{ post.description }}<br>
                  ({{ post.date | date: "%Y-%m-%d" }} 작성)<br>
                  더보기
                </div>
            
                <div style="clear: both; width: 0">
                </div>
              </div>
              </a>
              {% assign cnt = cnt | plus:1 %}
              {% if cnt >= 5 %}
              {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <a style="background-color: #0040ff; color: #fff; border-radius: 10px; padding: 3px 5px; font-size: 12px; font-weight: bold; text-decoration: none;" href="/category/#{{ page.category | cgi_escape }}">카테고리 모든 글</a>
        {% endif %}
        </p>

        <hr>

        <!-- posts -->
        {% include body-posts.html %}

    </div>

    <!-- FOOTER  -->
    {% include body-footer.html %}
  </body>
</html>
