<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    {% include body-header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <!-- title section -->
        {% include body-title-section.html %}

        <!-- content -->
        {{ content }}

        <!-- categories -->
        {% include body-category.html %}
		
		<!-- icons -->
        {% include body-icons.html %}

        <hr>

        <!-- posts -->
        <p>
          <small style="background-color: #a9dfbf; color: #000000; border-radius: 3px; padding: 3px 5px; font-size: 16px; font-weight: bold; text-decoration: none;"> 블로그 글 더보기</small><br>
          {% for post in site.posts limit:10 %}
          <a href="{{ post.url }}">[{{ post.date | date: "%Y-%m-%d" }}] {{ post.title }}</a><br>
          {% endfor %}
        </p>
      </section>
    </div>

    <!-- FOOTER  -->
    {% include body-footer.html %}
  </body>
</html>
